.button {
    border: none;
    color: white;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
}


/* UTILITIES */
.bg_azure {
    background-color: rgb(13, 110, 253);
}

.button:hover {
    background-color: rgb(82, 151, 255);
}

.bg_gold {
    background-color: rgb(255, 193, 7);
}

.bg_gold:hover {
    background-color: rgb(255, 193, 7);
}